body {
    background: #132044;
    color: #ffd09b;
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 850px;
    margin: 2em auto;
    padding: 2em;
    background: #1b233f;
    border-radius: 20px;
    box-shadow: 0 10px 32px 0px #2070ff33;
}
header, .logo {
    text-align: center;
    font-size: 2em;
    color: #ff9100;
    margin-bottom: 2em;
    font-weight: bold;
    letter-spacing: 1.5px;
}
h1, h2, h3 {
    color: #2da9ff; 
    margin-bottom: 1em;
}
a, .btn, button {
    background: #2070ff;
    color: #fff;
    padding: 12px 28px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 1px 8px #2233;
    font-size: 1.1em;
    margin: 3px 7px;
    cursor: pointer;
    transition: background .2s;
}
a:hover, .btn:hover, button:hover {
    background: #ff9100;
    color: #111;
}
input, select {
    border: 2px solid #ff9100;
    background: #232553;
    color: #fff;
    border-radius: 6px;
    padding: 9px 8px;
    margin: 7px 0;
    font-size: 1em;
    width: 92%;
}
input[type=number] { width: 60px; }
form { background: #223; padding: 2em; border-radius: 12px;}
ul.list-group { list-style: none; padding: 0; }
.list-group > li { background: #222b44; margin-bottom: 10px; border-radius: 7px; padding: 1.1em;}
.flash { padding: 10px; margin-top: 12px; border-radius: 7px; }
.flash.danger { background: #4d1e15; color: #fec8b7; border-left: 4px solid #e05415;}
.flash.success { background: #1e4d23; color: #aaffbb; border-left: 4px solid #1dc962;}
.flash.info { background: #1e324d; color: #b9e1fe; border-left: 4px solid #157be0;}
.btn-secondary { background: #242f44; color: #ff9100; }
.description { color: #feae44; margin-left: 15px; font-size: .99em;}
label { color:#ffae57; font-weight:bold; }
input[type=submit], button { font-size: 1em;}
.hero { text-align: center; margin-top: 20px;}
.hero h1 { font-size: 2em; color:#ff9100;}
.hero img { max-width: 93%; border-radius: 19px; margin-top: 19px; box-shadow: 0 6px 64px #2070ff33;}
@media (max-width:600px) {
    .container { max-width: 99vw; padding: 4vw 1vw; }
}
